.center {
  text-align: center;
}

.title {
  margin: 1em 0 1em 0;
}

h1 {
  font-size: 3em;
}

.navigation {
  margin-bottom: 2em;
}

.footer {
  margin-top: 1em;
}

.italic {
  font-style: italic;
}

@media screen and (min-width: 1200px) {
  .main {
    min-height: 50em;
  }
}

.right-padding {
  padding-right: .3em;
}

.leaderboard {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1em;
}

.leaderboard-title {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1em;
}

.card img {
  border-radius: 50%;
  width: 10em;
  margin: 0 auto;
  padding: 10px 0 0 10px;
}
.table {
  width: 90%;
  margin: 0 auto;
}
.buttons {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1em;
}

.bottom {
  right: 0;
  bottom: 0;
}
