.center {
  text-align: center;
}

.title {
  margin: 1em 0 1em 0;
}

h1 {
  font-size: 3em;
}

.navigation {
  margin-bottom: 2em;
}

.footer {
  margin-top: 1em;
}

.italic {
  font-style: italic;
}
